:root{
  --color-black: #000000;
  --bg-color: #FFF8EB;
  --brown-bg: #FFD4A2;
  --blue-bg: #AEDAFA;
  --purple-bg: #928EEB;
  --green-bg: #8EE1AF;
  --lighter-green-bg: #C4FCDA;
  --peach-bg: #FFA7A6;

}

*, *::before, *::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Josefin Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  padding: 0; 
}

a{
  text-decoration: none;
  color: var(--color-black);
}

body{
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;;

  & > h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
}

main{
  width: 100%;
  padding: 2.5rem 5rem;
}

.main-section > div:first-child{
  background-color: var(--brown-bg);
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > img{
    display: block;
    max-width: 100%;
    height: auto;
  }

  & > h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
  }


  & > h4{
    font-size: .85rem;
    font-weight: 300;
  }
}

.main-section > div:nth-child(2){
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & > div:first-child{
    background-color: var(--blue-bg);
  }

  & > div:last-child{
    background-color: var(--purple-bg);
  }
}

.sub-section{
  width: 100%;
  margin: 4rem 0;

  & > h4{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.sub-section > div{
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & > a{
    text-align: center;
    background-color: var(--green-bg);
    transition: all 0.3s ease, transform 0.3s ease;
  }

  & > a:hover{
    background-color: var(--lighter-green-bg);
    box-shadow: 0px 0px 0 var(--color-black);
    transform: scale(0.95);
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

.goals-section{

  & > h4{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.goals-section > div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  & > div{
    background-color: var(--peach-bg);
  }
}

.container{
  padding: 1rem;
  border: 1px solid var(--color-black);
  box-shadow: 5px 5px 0 var(--color-black);
}

/*MEDIA QUERIES*/
@media (max-width: 576px){

  .sub-section > div{
    flex-direction: column;
  }

  .goals-section > div{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px){
  .main-section > div:nth-child(2){
    flex-direction: column;

    & > div:first-child{
      width: inherit;
    }

    & > div:last-child{
      width: inherit;
    }
  }

  .goals-section  > div{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px){
  main{
    padding: 2rem;
  }
}